<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button menu="first"></ion-menu-button>
        </ion-buttons>
        <ion-title>Principal</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button color="primary" expand="full" (click)="pagina2()">
        Ir a p&aacute;gina 2
    </ion-button>
    <ion-button color="secondary" expand="full" routerLink="/pagina2">
        Ir a p&aacute;gina 2 HTML
    </ion-button>
</ion-content>
